[submodule "ghorde-webclient"]
	path = ghorde-webclient
	url = https://github.com/ghorde/ghorde-webclient
[submodule "ghorde-bot"]
	path = ghorde-bot
	url = https://github.com/ghorde/ghorde-bot
[submodule "ghorde-api"]
	path = ghorde-api
	url = https://github.com/ghorde/ghorde-api
