[submodule "ghorde-webclient"]
	path = ghorde-webclient
	url = https://github.com/sohamjaiswal/ghorde-webclient
[submodule "ghorde-bot"]
	path = ghorde-bot
	url = git@github.com:sohamjaiswal/ghorde-bot.git
