[submodule "ghorde-webclient"]
	path = ghorde-webclient
	url = git@github.com:ghorde/ghorde-webclient.git
[submodule "ghorde-bot"]
	path = ghorde-bot
	url = git@github.com:ghorde/ghorde-bot.git
[submodule "ghorde-api"]
	path = ghorde-api
	url = git@github.com:ghorde/ghorde-api.git
